<div *ngIf="country$ | async; let country" class="country">
    <button class="button shadow" [routerLink]="'/'">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
        Back
    </button>
    <div class="country-layout">
        <div><img [src]="country.flags.png" />

        </div>

        <div class="country-detail">
            <h3>{{ country.name.official }}</h3>

            <div class="country-info">
                <div class="country-section">
                    <p>
                        <strong>Native Name:</strong>
                        {{ country.name.nativeName?.ara?.official }}
                    </p>
                    <p>
                        <strong>Population:</strong>
                        {{ country.population | number: '1.0' }}
                    </p>
                    <p>
                        <strong>Region:</strong>
                        {{ country.region }}
                    </p>
                    <p>
                        <strong>Sub Region:</strong>
                        {{ country.subregion }}
                    </p>
                    <p>
                        <strong>Capital:</strong>
                        {{ country.capital }}
                    </p>
                </div>

                <div class="country-section">
                    <p>
                        <strong>Top Level Domain:</strong>
                        {{ country.tld}}
                    </p>
                    <p>
                        <strong>Currencies:</strong>

                    </p>
                    <p>
                        <strong>Languages:</strong>

                    </p>
                </div>
            </div>
            <div class="border-countries">
                <p><strong>Border Countries:</strong></p>
                <div *ngIf="borderCountries$ | async; let borderCountries" class="border-countries-buttons">
                    <div *ngFor="let borderCountry of borderCountries" class="button shadow"
                        [routerLink]="'/' + borderCountry.name">
                        {{ country.borders }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>