<div *ngIf="country" [routerLink]="'/' + country.name.official" class=" card1 shadow">
    <div class=" flag-image">

        <img [src]="country.flags.png">
    </div>
    <div class="country-header">
        {{country.name.official }}
    </div>
    <div class="country-details">
        Population : {{country.population | number: '1.0'}}

    </div>
    <div class="country-details">

        Region : {{country.region}}

    </div>
    <div class="country-details">

        Capital : {{country.capital}}
    </div>

</div>