<div class="filter-components">
    <form role="search" id="form" class="shadow">
        <button>
            <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <input type="search" id="query" name="q" placeholder="Search for a country..."
            aria-label="Search through site content">

    </form>
    <app-filter placeholder="Filter by Region" [values]="regionOptions" [(value)]="regionFilter"></app-filter>
</div>
<div class="country-cards">
    <app-country *ngFor="let country of countries" [country]="country"></app-country>
</div>